.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  overflow: hidden;

}

.navBar .page-link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.page-link:hover {
  background-color: #1c93ff;
}