body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: Tahoma;
}
.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  overflow: hidden;
}

.navBar .page-link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all .2s ease-in-out;
}

.page-link:hover {
  background-color: #ffffff;
  color: #1c93ff;
  transform: scale(1.2);
}

.homepage {
  flex-direction: row-reverse;
  width: 100%;
}

.top-page {
  background-image: linear-gradient(to right, #1c93ff, #00ff3f);
}

.title {
  font-size: 400%;
}

.bottom-page {
  background-color: white;
  grid-area: bottom-page;
}

.computer-img {
  transform: translate(85%, 30%);
}

.swipe-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  margin: 0 20% 5% 20%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  height: 70%;
  border: black solid 1px;
}
.RestaurantCard_logo {
  width: 15%;
  margin: 2px;
}

.RestaurantCard_description {
  
  font-size: 14px;
  margin: 10px 100px 10px 100px;
}
.RestaurantCard_bestDish {
  width: 200px;
}

.choice-button-wrapper {
  display: flex;
  justify-content: space-around;

  width: 250px;
  margin: 20px;
}

.choice-button {
  background-image: linear-gradient( #1c93ff, #00ff3f);
  width: 80px;
  padding: 10px;
  border: 2px solid #00ff3f;
  border-radius: 7px;
}
